
/* Navbar */
body{
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.color{
    background-color: rgb(16,163,177);
}
.text-color{
  background: -webkit-linear-gradient(#2e302f, #22d4ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.zoom {
    transition: transform .5s;
  }
  
  .zoom:hover { 
    transform: scale(1.15); 
  }

/* modal */
.btn-close{
    outline: none !important;
    box-shadow: none !important;
    font-size: 15px;
    position: absolute;
    right: 20px;
}
.form-control{
  box-shadow: none !important;
  outline: none !important;
}
.form-select{
  box-shadow: none !important;
  outline: none !important;
}
.active{
  background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2F80ED, #56CCF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.activeText{
  background: -webkit-linear-gradient(#2e2f2e, #34d422);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;

}

/* Swiper css */
.container-xxl{
  max-width: 1560px !important;
}
.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}
.image{
  filter: brightness(60%);
}
.logo{
  filter: none;
}

/* Scrollbar modification */

/* Change scrollbar width */
::-webkit-scrollbar {
  width: 5px;
}

/* Change scrollbar track color */
::-webkit-scrollbar-track {
  background: #f5f9f9;
}

/* Change scrollbar handle color */
::-webkit-scrollbar-thumb {
  background: #30dcef;
}

/* Change scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3939;
}

.btn-color{
  background: #06beb6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #48b1bf, #06beb6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #48b1bf, #06beb6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: none;  

}

.bg-paid{
 background-color: rgb(218, 104, 104);
}
.bg-free{
  background-color: #2fe8e1;
}
.bg-image{
  background-image: url("https://www.aafp.org/dam/brand/aafp/news/2021-november/vsf-survey800.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
 .overlay{
  /* border: 5px solid black; */
  background-color: #1a84ee20;
  border-radius: 20px;
 backdrop-filter: blur(5px); 
} 
.bg-about {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
} 
/* Define the base styles for the button */
/*.devbtn {
  display: inline-block;
  background: #16222A;  
background: -webkit-linear-gradient(to top, #3A6073, #16222A); 
background: linear-gradient(to top, #3A6073, #16222A); 

  border: none;

  color: white;
  animation: glowing 1.5s infinite;
 } */


/* Define the animation for the glow effect */
/* @keyframes glowing {
  0% {
    box-shadow: 0 0 10px #fbc9c9;
  }
  50% {
    box-shadow: 0 0 30px #f40a0a;
  }
  100% {
    box-shadow: 0 0 10px #fbc9c9;
  }
} */

/* Apply the glow effect on hover */

.devbtn {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.devbtn:hover {
  background: #1a2a6c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: #fff;
  border-radius: 5px;
  
}

.devbtn span {
  position: absolute;
  display: block;
}

.devbtn span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f43703);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.devbtn span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f43703);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.devbtn span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f43703);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.devbtn span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f43703);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


@media screen and (max-width: 768px) {
  .faq{
    width: 90% !important;
  }
  .text-size{
   font-size: 10px !important;
  }
  .slide3{
    top: 0 !important;
    left: 0 !important;
  }

  body{
    font-size: 12px;
  }
  .zoom:hover{
    transform: none;
  }
  .bg-about{
    
    background-image: none !important;
    background: #2980B9  !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
.about{
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}
.text-size{
  font-size: 12px !important;
}
.about-text{
  font-size: 15px;
}
.pin{
  width: 100% !important;
}
}
@media screen and (max-width: 480px) {
.modalbtn{
  font-size: 15px;
}
}
  
/* Icons CSS */

.dev-profile-pic {
  filter: grayscale(100%);
  border: 2px solid #334155;
  padding: 4px;
}

.dev-profile-pic:hover {
  filter: grayscale(0);
  filter: none;
  border: 2px solid #0ea5e9;
  -webkit-transition: all .8s ease-in-out;
}
.slide3{
  top: 40%;
  left: 45%;
}